<br>
<fieldset class="table-bordered">
    <form class="form-group">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <label for="nome">Nome do leitor</label>
                    <input class="form-control" type="text" id="nome">
                </div>
                <br>
            </div>
        </div>
        <div>
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-4">
                        <label for="data_nasc">Data de Nasc.</label>
                        <input class="form-control" type="date" id="data_nasc">
                    </div>
                    <div class="col-md-4">
                        <label for="data_cad">Data Cadastro</label>
                        <input class="form-control" type="date" id="data_cad">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-1">
                        <label for="sexo">Sexo</label>
                        <select class="form-control" id="sexo">
                            <option value="N"></option>
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                            <option value="O">Não Declarar</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <label for="escolaridade">Escolaridade</label>
                    <input class="form-control" type="text" id="escolaridade">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label for="naturalidade">Naturalidade</label>
                    <input class="form-control" type="text" id="naturalidade">
                </div>
                <div class="col-md-4">
                    <label for="nome_pai">Nome do pai</label>
                    <input class="form-control" type="text" id="nome_pai">
                </div>
                <div class="col-md-4">
                    <label for="nome_mae">Nome da Mãe</label>
                    <input class="form-control" type="text" id="nome_mae">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <label for="id">Identidade</label>
                    <input class="form-control" type="text" id="id">
                </div>
                <div class="col-sm-4">
                    <label for="cpf">CPF</label>
                    <input class="form-control" type="text" id="cpf">
                </div>
                <div class="col-sm-1">
                    <input type="checkbox" id="check">
                </div>
                <div class="col-sm-3">
                    <label for="chek">Leitor desativado temporiamente</label>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label for="tel1">Telefone 1</label>
                    <input class="form-control" type="text" id="tel1">
                </div>
                <div class="col-md-6">
                    <label for="tel2">Telefone 2</label>
                    <input class="form-control" type="text" id="tel2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="tel3">Telefone 3</label>
                    <input class="form-control" type="text" id="tel3">
                </div>
                <div class="col-md-6">
                    <label for="tel4">Telefone 4</label>
                    <input class="form-control" type="text" id="tel4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <label for="endereco">Endereço</label>
                    <input class="form-control" type="text" id="endereco"/>
                </div>
                <div class="col-md-4">
                    <label for="bairro">Bairro</label>
                    <input class="form-control" type="text" id="bairro" />
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <label for="cidade">Cidade</label>
                    <input class="form-control" type="text" id="cidade" />
                </div>
                <div class="col-md-2">
                    <label for="uf">Estado</label>
                    <select class="form-control" id="uf">
                        <option value="0"></option>
                        <option value="1">Acre</option>
                        <option value="2">Alagoas</option>
                        <option value="3">Amapá</option>
                        <option value="4">Amazonas</option>
                        <option value="5">Bahia</option>
                        <option value="6">Ceará</option>
                        <option value="7">Distrito Federal</option>
                        <option value="8">Espírito Santo</option>
                        <option value="9">Goiás</option>
                        <option value="10">Maranhão</option>
                        <option value="11">Mato Grosso</option>
                        <option value="12">Mato Grosso do Sul</option>
                        <option value="13">Pará</option>
                        <option value="14">Paraíba</option>
                        <option value="15">Paraná</option>
                        <option value="16">Pernambuco</option>
                        <option value="17">Piauí</option>
                        <option value="18">Rio de Janeiro</option>
                        <option value="19">Rio Grande do Norte</option>
                        <option value="20">Rio Grande do Sul</option>
                        <option value="21">Rondônia</option>
                        <option value="22">Roraima</option>
                        <option value="23">Santa Catarina</option>
                        <option value="24">São Paulo</option>
                        <option value="25">Sergipe</option>
                        <option value="26">Tocantins</option>                     
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="cep">CEP</label>
                    <input class="form-control" id="cep"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <label for="email">Endereço de e-mail</label>
                    <input class="form-control" type="email" id="email">
                </div>
                <div class="col-md-4">
                    <label for="Pr">Ponto de Referência</label>
                    <input class="form-control" type="text" id="pr">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="obs">Observações</label>
                    <input class="form-control" type="text" id="obs">
                    <input class="form-control" type="text" id="obs">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="matricula">Matrícula</label>
                    <input class="form-control" type="text" id="matricula">
                </div>
                <div class="col-md-4">
                    <label for="turma">Turma</label>
                    <input class="form-control" type="text" id="turma">
                </div>
                <div class="col-md-4">
                    <label for="hora">Horário</label>
                    <input id="hora" class="form-control" type="time">            
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <div class="col-md-2">    
                    <button class="btn btn-success" type="button" >Cadastrar</button>
                </div>        
                <div class="col-md-1">
                    <button class="btn btn-danger" type="button">Cancelar</button>
                </div>
            <div>
        </div>
    </form>
</fieldset>
