<br>
<fieldset class="table-bordered"> 
    <form class="form-group">
        <div class="container">
            <div class="row">
                <fieldset class="table-bordered col-md-5">
                    <label for="check1">Pesquisar por:</label>
                    <div class="row">
                        <div class="col-sm-3">
                                <input type="checkbox" id="check1">
                                <label for="check1">Nome</label>
                        </div>
                        <div class="col-sm-3">
                                <input type="checkbox" id="check2">
                                <label for="check2">Numero</label>
                        </div>

                    </div>
                </fieldset>
                <div class="col-sm-1">
                </div>
                <div>
                    <label for="txt1">Filtro: Informe as iniciais do leitor a ser consultado</label>
                    <input class="form-control" type="text" id="txt1">
                </div>
            </div>
            <div class="row">
                <div class=" col-md-6"></div>
                <div class="col">
                    <input type="checkbox" id="check3">
                    <label for="check3">Consultar por parte do nome informado</label>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-1 ">    
                    <button class="btn btn-success" type="button" >Consultar</button>
                </div>        
                <div class="col-md-1">
                    <button class="btn btn-danger" type="button">Fechar</button>
                </div>
            <div>
        </div>
    </form>
</fieldset>