
<div class="container">
    <div clas="row">
        <form class="form-group col-sm-4">
            <h1>Faça o seu login</h1>
                <label class="text-danger">Usuario: </label>
                <input class="form-control"/>            
                <label class="text-danger">Senha: </label>
                <input class="form-control"/>
            <button class="btn btn-group" >Entrar</button>
        </form>
    </div>
</div>
